<div id='card' class='container border-2 border-zinc-600 w-64 h-[363px] relative rounded' data-color="{{color_name}}" data-category="{{category_name}}" data-item="{{item_name}}" data-id="{{item_id}}">
  {{#if item_has_pic}}
    <img src='/img/items/{{item_id}}.webp' alt='dish' class='img w-[270px] h-[270px]'>
  {{else}}
    <img src='/img/items/image_not_available.png' alt='not available' class='img w-[270px] h-[270px]'>
  {{/if}}
  <div class='text-center flex justify-center items-center h-[89px] bg-zinc-600 text-white p-2'>
      <p class='font-dosis text-xl row-span-4 col-span-5'>{{item_name}}</p>
  </div>
  <i class='addItem fa-solid fa-plus text-xl text-white absolute bottom-1 right-1 z-10 hover:text-orange-400'></i>
</div>