{{! Card with picture and item name, color, quantity and delete buttons }}
<div style="border: 1px black solid; width: 10rem; height: 10rem; margin: 1rem;" data-color="{{color_name}}" data-category="{{category_name}}" data-item="{{item_name}}">
  {{!-- Delete button if on home page --}}
  {{!-- Edit button if on home page --}}
  {{!-- Item.pictureLocation? --}}
  <p>{{item_name}}</p>
  <p>{{color_name}}</p>
  <p>{{quantity}}</p>
</div>