{{!-- <Tailwind class="left-4 top-4 hover:text-red-600 ml-3 inline-block" --}}
{{!-- <Tailwind class="top-2 left-2 ml-[226px]" --}}
{{!-- <Tailwind class="right-2 ml-[105px]" --}}
{{!-- <Tailwind class="ml-[118px]" --}}
{{!-- <Tailwind class="ml-5" --}}

<div id='card' class='container border-2 border-zinc-600 w-64 rounded relative' data-qty="{{quantity}}" data-color="{{color_name}}" data-category="{{category_name}}" data-item="{{item_name}}" data-id="{{id}}">
  {{#if item_has_pic}}
    <img src='/img/items/{{item_id}}.webp' alt='dish' class='img w-[270px] h-[270px] z-0'>
  {{else}}
    <img src='/img/items/image_not_available.png' alt='not available' class='img w-[270px] h-[270px]'>
  {{/if}}
  <div class='text-center bg-zinc-600 text-white h-32 flex flex-col justify-evenly'>
    <p class='font-dosis text-xl'>{{item_name}}</p>
    <p class='font-dosis text-xl'>{{color_name}}</p>
    <p class='font-dosis text-xl'>Quantity: {{quantity}}</p>
  </div>
  <i class='edit fa-solid fa-pen-to-square text-white absolute right-4 bottom-4 hover:text-orange-400'></i>
</div>
