{{!-- class='hover:text-red-600' --}}

<div id='card' class='container border-2 border-zinc-600 w-64 rounded' data-qty="{{quantity}}" data-color="{{color_name}}" data-category="{{category_name}}" data-item="{{item_name}}" data-id="{{id}}">
  {{#if item_has_pic}}
    <img src='/img/items/{{item_id}}.webp' alt='dish' class='img w-[270px] h-[270px]'>
  {{else}}
    <img src='/img/items/image_not_available.png' alt='not available' class='img w-[270px] h-[270px]'>
  {{/if}}
  <div class=' grid grid-rows-3 grid-cols-8 bg-zinc-600 text-white pl-4'>
      <p class='font-dosis text-xl col-span-8'>{{item_name}}</p>
      <p class='font-dosis text-xl col-span-8'>{{color_name}}</p>
      <p class='font-dosis text-xl col-span-7'>Quantity: {{quantity}}</p>
      {{!-- <i class='edit fa-solid fa-pen-to-square absolute ml-[230px] mt-[65px] hover:text-orange-400'></i> --}}
      <i class='edit fa-solid fa-pen-to-square col-span-1 hover:text-orange-400'></i>
  </div>
</div>

